body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
}

.calculator-screen {
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.zero-btn {
    grid-column: span 2;
}

.equal-sign {
    background-color: #28a745;
    grid-column: span 2;
}

.equal-sign:hover {
    background-color: #218838;
}